# ============================================
# Central AppLocker Log Client Configuration
# ============================================
# File needs to be names CALC.config and sit next to CALC.exe for service to work.

# SQL Server hostname or FQDN
SQLServer=SQLServer=sql01.domain.com

# Log Level (0 = Normal, 1 = Debug Low, 2 = Debug High) (SQL query logging only on 1+)
LogLevel=0